@import url("https://fonts.cdnfonts.com/css/wotfard");

body {
  font-family: 'Wotfard', sans-serif;
}

@import "tailwindcss";
@config "../../tailwind.config.js";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "customdark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(25% 0.092 26.042);
  --color-accent: oklch(70% 0 0);
  --color-accent-content: oklch(14% 0 0);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
